<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Accoona_Customprice::manageconfig" title="Manage Configutation" sortOrder="51">
                    <resource id="Accoona_Customprice::apiconfig" title="Manage Api Configutation" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>