<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="accoona" translate="label" sortOrder="10">
            <label>Accoona Api Configuration</label>
        </tab>
        <section id="apiconfig" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Api Configuration</label>
            <tab>accoona</tab>
            <resource>Accoona_Customprice::apiconfig</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Api Configuration</label>
                <field id="apihost" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Api Host Url</label>
                    <comment>Add api host to access products prices</comment>
                </field>
            </group>
        </section>
    </system>
</config>